* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1;
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

header {
    background: linear-gradient(135deg,
            #002855,
            #00509e);

    color: white;
    padding: 50px 20px;
    text-align: center;
}

.header-conteudo {
    max-width: 1000px;
    margin: auto;
}

header h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

header p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
}

.header-info {
    margin-top: 25px;
}

.header-info span {
    display: inline-block;
    margin: 8px;
    padding: 10px 18px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    font-size: 14px;
}

.rsl {
    background: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
}

.rsl h2 {
    color: #003366;
    margin-bottom: 15px;
}

.rsl ul {
    list-style: none;
}

.rsl li {
    padding: 12px;
    margin-bottom: 8px;
    background: #f4f8fc;
    border-left: 4px solid #00509e;
    border-radius: 5px;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

.busca {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
    margin-bottom: 30px;
}

.busca h2 {
    margin-bottom: 15px;
    color: #003366;
}

input {
    width: 100%;
    padding: 15px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    outline: none;
    transition: .3s;
}

input:focus {
    border-color: #00509e;
}

.info {
    background: #eaf4ff;
    color: #003366;
    padding: 12px;
    border-left: 4px solid #003366;
    margin: 20px auto 10px;
    border-radius: 5px;
    position: relative;
    width: 600px;
    font-size: 12px;
}

button {
    padding: 12px;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

button:hover {
    background: #0055aa;
}

.btn-artigo,
.btn-pdf {

    display: inline-block;

    padding: 12px 18px;

    margin-top: 15px;
    margin-right: 10px;

    border-radius: 8px;

    text-decoration: none;

    font-weight: bold;

    transition: .3s;
}

.btn-artigo {
    background: #003366;
    color: white;
}

.btn-artigo:hover {
    background: #00509e;
}

.btn-pdf {
    background: #1f8a3d;
    color: white;
}

.btn-pdf:hover {
    background: #27ae60;
}

.artigo {
    background: white;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .08);
    transition: .3s;
}

.artigo:hover {
    transform: translateY(-3px);
}

.artigo h3 {
    color: #003366;
    margin-bottom: 10px;
    line-height: 1.4;
}

.oportunidade {
    color: green;
    font-weight: bold;
}

footer {

    margin-top: auto;

    background: #001f3f;

    color: white;

    text-align: center;

    padding: 25px;

    border-top: 4px solid #ffd700;
}

footer strong {
    color: #ffd700;
    font-size: 16px;
}

.objetivo {
    background: linear-gradient(135deg,
            #003366,
            #00509e);

    color: white;

    padding: 30px;

    margin-top: 35px;

    border-radius: 15px;
}

.objetivo h2 {
    margin-bottom: 15px;
}